<!DOCTYPE html>
<html lang="en" style="height: 100%;width: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Spring Boot web</title>
</head>
<body style="margin: 0">
<div th:replace="fragments/header :: header"></div>
<form enctype="multipart/form-data" method="post" th:action="@{/createAccount}" th:object="${createAccountRequest}">
    <div style="width: 100%; display: flex; align-items: center;justify-content: center; margin-top: 40px">
        <div class="form-create-wrapper">
            <h5 class="form-create-header">Create Account</h5>
            <div class="form-create">
                <div class="create-fields">
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="userName">User Name</label>
                        <input class="create-input" id="userName" placeholder="input your name" required
                               th:field="*{userName}"
                               type="text"/>
                    </div>
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="email">Email</label>
                        <input class="create-input" id="email" placeholder="input your name" required
                               th:field="*{email}"
                               type="email"/>
                    </div>
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="phoneNumber">Phone Number</label>
                        <input class="create-input" id="phoneNumber" placeholder="input your phone number" required
                               th:field="*{phoneNumber}"
                               type="text"/>
                    </div>
                </div>

                <div class="create-fields">
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="password">Password</label>
                        <input class="create-input" id="password" placeholder="input your password" required
                               th:field="*{password}"
                               type="password"/>
                    </div>
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="samePassword">Confirm Password</label>
                        <input class="create-input" id="samePassword" placeholder="input your password again" required
                               th:field="*{samePassword}"
                               type="password"/>
                    </div>
                    <div class="create-input-wrapper">
                        <label class="create-input-label" for="isActive">Is Active</label>
                        <input class="create-checkbox" id="isActive" required th:checked="*{isActive}"
                               type="checkbox"/>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center;justify-content: center">
                <button class="button-create-account" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
</body>
</html>